*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header .container {
    display: flex;
    padding: 16px 0;
    letter
}

body > header {
    background-color: aqua ;
}

header li{
display: inline;}

.container {
    width: 1366px;
    margin: 0 auto;
}

.article {
    display: flex;
}

.articles article img {
    height: 100px;
}

.articles article {
    height: 30%;
}

section {
    background-color: azure;
}


.container .c {
    background-color: rgb(78, 117, 190);
}

section {
    padding: 16px 0;
}  

section h2 {
margin-bottom: 16px;}  

section h2, .articles .articles {
    margin-bottom: 16px;} 

    .articles .articles h3 {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .container img {
        max-width: 200px;
    }

    section h2 {
        background-color: blue;
        text-decoration-color: rgb(79, 68, 89);
    }
